body{
    background-color: gray;
}
h1{
    display: flex;
    justify-content: center;
    color: darkslategrey;

}
.img{
    display: flex;
    justify-content: center;
   padding: 50px 50px 50px 50px;
   
}